/*
0 - 400px    phone [where mobile-first styles apply]
400 - 600px   tablet portrait
600 - 900px   tablet landscape
1280 - 1800px desktop 
1800px +      big desktop

****** Old Breakpoints ******
$bp-large: 1080px;
$bp-m2: 900px;
$bp-sm: 600px;
$bp-xs: 450px;

******** Breakpoint argument choices:
- tab-port
- tab-land
- sm-desktop
- normal-desktop
- big-desktop

how to apply:
@include responsive(tab-port) {
    background-color: pink;
  }

******************************************/
@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.6; }

.main,
.footer {
  width: 100%;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto; }

::selection {
  background: #888888; }

/********************
base-color: #226767;
heading-font-color: #D24747;


font-family: 'Alegreya Sans SC', sans-serif; // capital
font-family: 'Archivo', sans-serif;
font-family: 'Archivo Narrow', sans-serif; // for captions of images
font-family: 'Noto Serif TC', serif; // traditional chinese



************************/
body {
  font-family: "Archivo", sans-serif; }

.nav__heading,
h2,
h3 {
  font-family: "Alegreya Sans SC", sans-serif; }

.landing-content__main {
  margin: 4rem auto;
  width: 90%;
  height: 50vh;
  background-image: url("../img/hike-photos/background-heading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr); }
  @media only screen and (min-width: 560px) {
    .landing-content__main {
      position: relative;
      width: 70%;
      height: 80vh;
      grid-template-rows: repeat(4, 1fr); } }
  @media only screen and (min-width: 940px) {
    .landing-content__main {
      margin: 3rem auto;
      position: relative;
      background-image: none;
      width: 88%;
      height: 65vh; } }
  .landing-content__main--video {
    display: none; }
    @media only screen and (min-width: 940px) {
      .landing-content__main--video {
        display: block; }
        .landing-content__main--video-content {
          object-fit: cover;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.9;
          overflow: hidden;
          width: 100%; } }
  .landing-content__main--title {
    font-size: 3.3rem;
    display: grid;
    opacity: 0.8;
    padding: 3.7rem 1rem;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(rgba(255, 255, 0, 0) 10%, black 90%);
    grid-row: 3 / 4;
    z-index: 99; }
    @media only screen and (min-width: 560px) {
      .landing-content__main--title {
        grid-row: 4 / 5; } }
    @media only screen and (min-width: 1180px) {
      .landing-content__main--title {
        grid-row: 4 / 5;
        font-size: 4.4rem; } }
    .landing-content__main--title h1 {
      display: inline-block;
      transition: all 0.5s ease-in-out; }
      .landing-content__main--title h1:hover {
        transform: translateY(-0.8rem); }
      .landing-content__main--title h1 a:link, .landing-content__main--title h1 a:visited {
        color: #cd3333;
        text-shadow: 2px 2px 2px #fff; }
      .landing-content__main--title h1 a:hover, .landing-content__main--title h1 a:active {
        text-decoration: underline; }

.btn-click:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.5rem); }

.scroll-up {
  display: none;
  position: fixed;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  bottom: 10%;
  right: 5%;
  background: radial-gradient(#76a3a3 15%, #324034 85%);
  cursor: pointer;
  z-index: 300; }
  .scroll-up__arrow {
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.2rem #888888;
    transition: all 0.2s ease-in-out; }
    .scroll-up__arrow:hover {
      transform: translateY(-0.4rem); }

/*
.scroll-up {
  display: none;
  @include responsive(sm-desktop) {
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    bottom: 10%;
    right: 5%;
    background: radial-gradient($default-color 15%, $color-dark 85%);
    cursor: pointer;
    z-index: 300;

    &__arrow {
      position: absolute;
      top: 13%;
      left: 11%;
      font-size: 4rem;
      color: $color-white;
      text-shadow: 0.1rem 0.1rem 0.2rem $color-grey;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-0.4rem);
      }
    }
  }
}
*/
.coming-soon__heading {
  margin: 2rem auto 0;
  font-size: 4.4rem;
  color: #d24747;
  text-align: center; }

.coming-soon {
  margin: 0; }
  .coming-soon__box {
    margin: 2rem auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: minmax(50%, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    @media only screen and (min-width: 560px) {
      .coming-soon__box {
        width: 70%; } }
    @media only screen and (min-width: 720px) {
      .coming-soon__box {
        width: 60%; } }
    @media only screen and (min-width: 940px) {
      .coming-soon__box {
        width: 45%; } }
    .coming-soon__box--image {
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 4; }
      .coming-soon__box--image img {
        margin: 0 auto;
        width: 100%;
        box-shadow: 10px 5px 35px -12px #888888;
        object-fit: cover; }
    .coming-soon__box--title {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      align-self: end;
      display: block;
      width: 100%;
      height: 70%;
      margin-bottom: 0.5rem;
      background: linear-gradient(transparent, #324034);
      color: #902323;
      text-shadow: 1px 1px 1px #fff;
      font-weight: 700;
      font-size: 3.3rem;
      text-align: center;
      animation: 30s 1 zoomInDown; }
      @media only screen and (min-width: 720px) {
        .coming-soon__box--title {
          font-size: 4.4rem; } }

.form {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #eeeeee; }
  .form__box {
    margin: 2rem auto;
    width: 90%;
    grid-column: 1 / 7;
    grid-row: 1 / 3; }
    @media only screen and (min-width: 560px) {
      .form__box {
        grid-column: 2 / 6;
        grid-row: 1 / 3; } }
    @media only screen and (min-width: 720px) {
      .form__box {
        grid-column: 1 / 7; } }
    .form__box fieldset {
      padding: 2rem 1rem;
      border: none; }
      @media only screen and (min-width: 720px) {
        .form__box fieldset {
          display: grid;
          grid-template-columns: 25% 45% 25%;
          grid-template-rows: repeat(3, auto);
          grid-gap: 1rem; } }
      .form__box fieldset legend {
        font-family: "Averia Gruesa Libre", cursive;
        font-size: 2.1rem;
        color: #d24747;
        text-align: center;
        line-height: 1;
        padding: 0.3rem 0.3rem 0; }
        @media only screen and (min-width: 560px) {
          .form__box fieldset legend {
            font-size: 3.3rem; } }
        @media only screen and (min-width: 720px) {
          .form__box fieldset legend {
            margin: 1rem auto 0;
            font-size: 3.3rem;
            grid-column: 1 / 4;
            grid-row: 1 / 2; } }
  .form__name {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-columns: 18% 82%; }
    .form__name--label {
      display: block;
      font-size: 2.1rem;
      justify-self: start;
      align-self: center; }
    .form__name--input {
      margin-left: 0.5rem;
      height: 4rem;
      border: 1px solid #76a3a3;
      border-radius: 4px;
      transition: all 0.5s ease-in-out; }
      .form__name--input:focus {
        box-shadow: 3px 3px 6px #85adad; }
      .form__name--input:focus:invalid {
        border: 1px solid red; }
    @media only screen and (min-width: 560px) {
      .form__name {
        margin: 0.5rem auto 0;
        width: 100%;
        grid-template-columns: 23% 77%; } }
    @media only screen and (min-width: 720px) {
      .form__name {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        grid-template-columns: 30% 70%; }
        .form__name--label {
          font-size: 1.6rem;
          justify-self: end; } }
  .form__email {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-columns: 18% 82%; }
    .form__email--label {
      display: block;
      font-size: 2.1rem;
      justify-self: start;
      align-self: center; }
    .form__email--input {
      margin-left: 0.5rem;
      height: 4rem;
      border: 1px solid #76a3a3;
      border-radius: 4px;
      transition: all 0.5s ease-in-out; }
      .form__email--input:focus {
        box-shadow: 3px 3px 6px #85adad; }
      .form__email--input:focus:invalid {
        border: 1px solid red; }
    @media only screen and (min-width: 560px) {
      .form__email {
        margin: 0.5rem auto 0;
        width: 100%;
        grid-template-columns: 23% 77%; } }
    @media only screen and (min-width: 720px) {
      .form__email {
        padding-right: 2rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        grid-template-columns: 25% 75%; } }
  .form__text {
    color: #324034;
    text-align: center;
    text-indent: -1rem;
    font-size: 1.2rem; }
    @media only screen and (min-width: 560px) {
      .form__text {
        margin: 1rem auto;
        width: 100%;
        grid-template-columns: 15% 85%; } }
    @media only screen and (min-width: 720px) {
      .form__text {
        grid-column: 1 / 4;
        grid-row: 3 / 4; } }
  .form__submit {
    background-color: #dc7070;
    border: none;
    height: 5rem;
    width: 100%;
    font-family: "Averia Gruesa Libre", cursive;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in; }
    @media only screen and (min-width: 720px) {
      .form__submit {
        grid-column: 3 / 4;
        grid-row: 2 / 3; } }
    .form__submit:hover {
      background-color: #d24747;
      font-size: 2.1rem;
      color: #fff; }
    .form__submit:active, .form__submit:visited {
      color: #fff; }

@media only screen and (min-width: 940px) {
  .hamburger {
    display: none; } }
.hamburger__checkbox {
  display: none; }
.hamburger__icon {
  background-color: #fff;
  height: 4.2rem;
  width: 4.2rem;
  position: fixed;
  top: 1.2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 5rem rgba(50, 64, 52, 0.3);
  text-align: center;
  cursor: pointer; }
.hamburger__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 1.4rem;
  right: 2rem;
  background-image: radial-gradient(#76a3a3 10%, #050705);
  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.hamburger__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.hamburger__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .hamburger__content--menu {
    margin: 1rem; }
  .hamburger__content--link:link, .hamburger__content--link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 2rem;
    color: #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.4s ease-in-out; }
  .hamburger__content--link:hover, .hamburger__content--link:active {
    background-position: 100%;
    color: #5c8a8a;
    transform: translate(1rem); }
.hamburger__checkbox:checked ~ .hamburger__background {
  transform: scale(90); }
.hamburger__checkbox:checked ~ .hamburger__nav {
  width: 110%;
  opacity: 1; }
.hamburger__line {
  position: relative;
  margin-top: 2rem; }
  .hamburger__line, .hamburger__line::before, .hamburger__line::after {
    display: inline-block;
    width: 2.3rem;
    height: 2px;
    background-color: #324034; }
  .hamburger__line::before, .hamburger__line::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .hamburger__line::before {
    top: -0.6rem; }
  .hamburger__line::after {
    top: 0.6rem; }
.hamburger__icon:hover .hamburger__line::before {
  top: -0.8rem; }
.hamburger__icon:hover .hamburger__line::after {
  top: 0.8rem; }
.hamburger__checkbox:checked + .hamburger__icon .hamburger__line {
  background-color: transparent; }
.hamburger__checkbox:checked + .hamburger__icon .hamburger__line::before {
  top: 0;
  transform: rotate(135deg); }
.hamburger__checkbox:checked + .hamburger__icon .hamburger__line::after {
  top: 0;
  transform: rotate(-135deg); }

.sidebar__trip--avatar-img {
  width: 100%;
  height: auto; }

.svg-icon {
  fill: #d24747; }

.sidebar {
  width: 95%;
  height: auto;
  margin: 2rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15%, repeat(4, 1fr);
  justify-content: space-between;
  align-content: center; }
  @media only screen and (min-width: 560px) {
    .sidebar {
      margin: 2rem;
      min-height: 90%;
      display: grid;
      grid-template-columns: repeat(2, minmax(40%, 48%));
      grid-template-rows: 12% repeat(2, minmax(37%, 45%)); } }
  @media only screen and (min-width: 720px) {
    .sidebar {
      margin: 1rem auto;
      width: 75%;
      grid-template-rows: 12% repeat(2, minmax(32%, 42%)); } }
  @media only screen and (min-width: 940px) {
    .sidebar {
      margin: 2rem auto;
      grid-template-rows: 15% repeat(2, auto); } }
  @media only screen and (min-width: 1180px) {
    .sidebar {
      margin-top: 1rem;
      width: 100%;
      max-height: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: 8% repeat(4, 1fr);
      justify-content: space-between; } }
  .sidebar__heading {
    display: inline-block;
    color: #d24747;
    font-size: 2.1rem; }
    @media only screen and (min-width: 560px) {
      .sidebar__heading {
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0;
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
    @media only screen and (min-width: 1180px) {
      .sidebar__heading {
        margin-bottom: 1rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
  .sidebar__trip {
    margin: 2rem auto;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    box-shadow: 10px 5px 35px -12px #888888; }
    @media only screen and (min-width: 720px) {
      .sidebar__trip {
        padding: 1rem;
        margin: 0.5rem auto;
        min-height: 12rem;
        grid-template-columns: 12% 85%;
        grid-template-rows: 12% 84%; } }
    @media only screen and (min-width: 940px) {
      .sidebar__trip {
        min-height: 8rem;
        padding: 1rem;
        grid-template-columns: 12% 85%;
        grid-template-rows: 2fr 1fr; } }
    @media only screen and (min-width: 1180px) {
      .sidebar__trip {
        margin: 0.5rem;
        padding: 0.5rem;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 72% 25%; } }
    .sidebar__trip--avatar {
      display: none; }
    .sidebar__trip--img {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .sidebar__trip--text {
      color: #76a3a3;
      font-size: 1.6rem;
      grid-column: 2 / 3;
      grid-row: 1 / 3; }
    .sidebar__trip--click {
      margin: 0;
      padding: 0;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;
      align-self: end;
      z-index: 100; }
    .sidebar__trip:hover {
      background-color: #eeeeee;
      transition: all 0.3s ease-in-out; }

/*

&__sidebar {
    height: 78vh;
    margin: 2.5rem 0;
    padding: 2rem;
    grid-column: 9 / 12;
    grid-row: 1 / 2;
    justify-content: space-between;
    align-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh repeat(4, 18vh);
    justify-content: space-between;

    font-size: $font-size-sm;
    padding-left: 0.8rem;

    @media only screen and (max-width: $bp-large) {
      grid-column: 9 / 13;
    }
    @media only screen and (max-width: $bp-m2) {
      height: 65vh;
      grid-column: 2 / 12;
      grid-row: 2 / 3;
      margin: 0;

      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 18% repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-sm) {
      margin: 2rem;
      min-height: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
    }
    :hover {
      background-color: lighten($default-color, 40%);
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }

    &--heading {
      display: inline-block;
      color: $default-color-heading;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0.1rem;
      }

      @media only screen and (max-width: $bp-m2) {
        align-self: center;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-bottom: 0.2rem;
      }
    }
    &--trip:not(:last-child) {
      border-bottom: 1px solid rgba($color-grey, 0.5);
    }

    &--trip {
      padding: 0.2rem 0.1rem 0.4rem;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 10% 4fr 7%;
      grid-template-rows: repeat(2, 1fr);
      justify-content: space-between;

      @media only screen and (max-width: $bp-large) {
        border-bottom: 1px solid rgba($color-grey, 0.5);

        display: grid;
        grid-template-columns: 1fr 80% 1fr;
        grid-row: 1fr;
      }

      @media only screen and (max-width: $bp-m2) {
        // border: 1px solid rgba($color-grey, 0.5);
        grid-template-columns: 1fr 70% 1fr;
        padding-top: 2rem;
        box-shadow: 2px 2px 4px rgba($color-grey, 0.5);
        height: 95%;
      }

      @media only screen and (max-width: $bp-sm) {
        grid-template-rows: 2fr, 1fr;
        //width: 100%;
        height: 24%;
        padding: 0.8rem 0.6rem;
        display: grid;
      }

      @media only screen and (max-width: $bp-xs) {
        // height: 30%;
        padding: 0.8rem 0.6rem;
        display: grid;
      }

      &-avatar {
        margin: 2px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: $bp-large) {
          display: none;
        }
      }
      &-img {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: $bp-large) {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
      &-text {
        line-height: 1;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        margin: 0.2rem;
        padding: 0.2rem;
        // width: 91%;

        @media only screen and (max-width: $bp-large) {
          grid-column: 2 / 3;
          grid-row: 1 /2;
        }

        @media only screen and (max-width: $bp-m2) {
          grid-column: 2 / 4;
          grid-row: 1 / 3;
        }
      }
      &-click {
        cursor: pointer;
        grid-column: 4 /53;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
        display: inline-block;
        //padding-top: 1rem;

        @media only screen and (max-width: $bp-large) {
          grid-column: 3 / 4;
          grid-row: 1 /2;
        }

        @media only screen and (max-width: $bp-m2) {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          align-self: end;
        }
      }
    }
  }

  */
.testimonials {
  background-image: url("../img/hike-photos/background.jpg");
  background-size: cover;
  margin: 2rem auto 4rem;
  padding-bottom: 4rem;
  height: auto;
  width: 95%;
  box-shadow: 10px 5px 35px -12px #888888; }
  @media only screen and (min-width: 720px) {
    .testimonials {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 1fr; } }
  .testimonials .about {
    margin: 2rem auto;
    width: 95%;
    background-color: aquamarine; }
    .testimonials .about h2 {
      font-size: 2.1rem; }
  @media only screen and (min-width: 1180px) {
    .testimonials {
      height: auto; } }
  .testimonials__heading {
    width: 95%;
    padding: 2rem 1rem;
    display: inline-block;
    color: #d24747;
    font-size: 2.1rem; }
    @media only screen and (min-width: 720px) {
      .testimonials__heading {
        margin-left: 2rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
  .testimonials__block {
    margin: 1.5rem auto;
    color: #324034;
    text-shadow: 1px 1px 1px #76a3a3;
    font-size: 1.6rem;
    padding: 2rem;
    width: 80%;
    height: auto;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 35px -12px #324034;
    transition: all 0.5s ease-in-out; }
    @media only screen and (min-width: 560px) {
      .testimonials__block {
        font-size: 2.1rem;
        height: auto;
        padding: 0.5rem;
        line-height: 1.4; } }
    @media only screen and (min-width: 940px) {
      .testimonials__block {
        width: 75%;
        height: auto;
        padding: 3rem;
        -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); } }
    @media only screen and (min-width: 1180px) {
      .testimonials__block {
        margin-top: 0;
        width: 60%; } }
    .testimonials__block--person {
      height: 8rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      grid-gap: 1rem; }
      @media only screen and (min-width: 560px) {
        .testimonials__block--person {
          height: 5rem; } }
      @media only screen and (min-width: 720px) {
        .testimonials__block--person {
          margin: auto;
          width: 80%; } }
      .testimonials__block--person-photo {
        width: 8rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center; }
      .testimonials__block--person-name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
        align-self: center; }
    .testimonials__block--text {
      margin: 1rem auto; }
      @media only screen and (min-width: 720px) {
        .testimonials__block--text {
          width: 80%; } }

.header {
  margin: 0;
  width: 100%;
  box-shadow: 0 4px 10px #888888;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto-fit;
  justify-content: space-between;
  grid-column-gap: 0.5rem;
  align-items: center; }
  @media only screen and (min-width: 940px) {
    .header {
      background-color: #76a3a3;
      grid-template-columns: 32% 63%;
      grid-template-rows: 1fr;
      justify-content: space-between;
      grid-column-gap: 0.5rem;
      align-items: center; } }
  .header__logo-box {
    height: 90%;
    padding: 1rem;
    background-color: #76a3a3;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-column: repeat(3, 1fr); }
    @media only screen and (min-width: 940px) {
      .header__logo-box {
        width: 100%;
        padding-left: 3.5rem;
        grid-column: 1 / 2; } }
    .header__logo-box-img {
      width: 5.5rem;
      padding-left: 1rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-content: center;
      align-content: center; }
  .header__heading {
    display: none;
    grid-column: 2 / 4;
    grid-row: 1 / 2; }
    @media only screen and (min-width: 940px) {
      .header__heading {
        display: block;
        padding-left: 1rem;
        font-size: 3.3rem; } }
  .header__heading a:link, .header__heading a:visited {
    color: #fff;
    font-weight: 600; }
  .header__heading a:hover, .header__heading a:active {
    color: #d24747;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
  .header__nav {
    grid-column: 1 / 4;
    grid-row: 2 / 3; }
    @media only screen and (min-width: 940px) {
      .header__nav {
        margin-right: 1rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
    .header__nav--menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      justify-content: space-around;
      align-content: center; }
      @media only screen and (min-width: 720px) {
        .header__nav--menu {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr; } }
      .header__nav--menu-item {
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
      .header__nav--menu-item:not(:last-child) {
        border-bottom: 1px solid #76a3a3; }
        @media only screen and (min-width: 720px) {
          .header__nav--menu-item:not(:last-child) {
            border-bottom: none; } }
      .header__nav--menu-link:link, .header__nav--menu-link:visited {
        display: block;
        color: #76a3a3;
        width: 100%;
        font-size: 2.1rem;
        transition: all 0.4s ease-in-out; }
        @media only screen and (min-width: 720px) {
          .header__nav--menu-link:link, .header__nav--menu-link:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #d24747 50%);
            background-size: 250%; } }
        @media only screen and (min-width: 940px) {
          .header__nav--menu-link:link, .header__nav--menu-link:visited {
            color: #fff; } }
      .header__nav--menu-link:hover, .header__nav--menu-link:active {
        font-style: italic;
        font-weight: 700;
        color: #fff;
        background-color: #d24747; }
        @media only screen and (min-width: 720px) {
          .header__nav--menu-link:hover, .header__nav--menu-link:active {
            background-position: 100%; } }
      @media only screen and (min-width: 940px) {
        .header__nav--menu-item:hover {
          background-color: #76a3a3; } }

.menu__dropdown {
  display: none; }

@media only screen and (min-width: 940px) {
  .menu {
    display: flex;
    position: relative; }
    li:hover .menu__dropdown {
      display: block; }
    .menu__item > a {
      display: inline-block;
      width: 100%; }
    .menu__item:hover {
      z-index: 4000;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
    .menu__dropdown {
      display: none;
      position: absolute; }
      .menu__dropdown-item {
        font-size: 1.6rem;
        width: 11vw;
        padding: 0.8rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        background-color: #76a3a3;
        transition: all 0.5s ease-in-out; }
        .menu__dropdown-item a {
          color: #324034; }
      .menu__dropdown-item:link, .menu__dropdown-item:visited {
        color: #888888; }
      .menu__dropdown-item:hover, .menu__dropdown-item:active {
        background-color: #5c8a8a; }
        .menu__dropdown-item:hover a, .menu__dropdown-item:active a {
          color: #fff;
          font-style: italic; }

  .fixedNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 5rem;
    opacity: 0.9; }
    .fixedNav div img {
      margin-top: -0.6rem;
      width: 4.3rem; }
    .fixedNav div div {
      display: none; }

  #sReasons,
  #eThings,
  #fWays,
  #fMistakes {
    position: relative; }

  #sReasons:hover::after {
    content: "7 Reasons Why You Should Hike in Taiwan";
    width: 28vw;
    height: 100%;
    display: grid;
    align-content: center;
    padding-left: 1rem;
    background-color: #5c8a8a;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fff;
    animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

  #eThings:hover::after {
    content: "11 Things to Know before You Hike in Taiwan";
    width: 28vw;
    height: 100%;
    display: grid;
    align-content: center;
    padding-left: 1rem;
    background-color: #5c8a8a;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fff;
    animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

  #fWays:hover::after {
    content: "4 Ways to Enjoy Hikes in Taiwan";
    width: 28vw;
    height: 100%;
    display: grid;
    align-content: center;
    padding-left: 1rem;
    background-color: #5c8a8a;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fff;
    animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

  #fMistakes:hover::after {
    content: "5 Deadly Mistakes to Avoid While Hiking in Taiwan";
    width: 28vw;
    height: 100%;
    display: grid;
    align-content: center;
    padding-left: 1rem;
    background-color: #5c8a8a;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fff;
    animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); } }
/* =========================== Desktop CSS ================================

.header {
  margin: 0;
  width: 100%;
  height: 9vh;
  background-color: $default-color;
  box-shadow: 0 2px 5px $color-grey;
  display: grid;
  grid-template-columns: 5% 45% 45%;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-column-gap: 0.5rem;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 5% 30% 60%;
    justify-content: center;
  }

  &__logo-box {
    padding-left: 3.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: $bp-large) {
      padding-left: 1.5rem;
    }

    &-img {
      width: 4.5rem;
    }
  }

  &__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    letter-spacing: 2px;
    padding-left: 1rem;
    font-size: $font-size-big;
    //color: $color-white;
    // animation: bounceInDown 0.5s 0.3s ease-in-out;
    // -webkit-animation: bounceInDown 0.5s 0.3s ease-in-out;
  }

  &__heading a:link,
  &__heading a:visited {
    color: $color-white;
    font-weight: 600;
  }

  &__heading a:hover,
  &__heading a:active {
    color: $default-color-heading;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  &__nav {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    z-index: 99;
    &--menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      align-content: center;

      &-item {
        display: block;
        width: 300px; //100%
        height: 3rem;
        text-align: left;
        margin: 0;
        padding: 0.2rem;
      }

      &-link:link,
      &-link:visited {
        color: $color-white;
        font-size: $font-size-medium;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
      }

      &-link:hover,
      &-link:active {
        color: $default-color-heading;
      }
    }
  }
}
// Dropdown Menu

.menu {
  display: flex;
  position: relative;

  li:hover &__dropdown {
    display: block;
  }

  &__item > a {
    display: inline-block;
    width: 100%;
  }

  &__item:hover {
    color: $color-white;
    // background-color: darken($default-color, 10%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  &__dropdown {
    display: none;
    position: absolute;

    &-item {
      font-size: $font-size-sm;
      width: 11vw;
      padding: 0.8rem;
      text-align: left;
      color: $color-white;
      display: flex;
      flex-direction: column;
      background-color: $default-color;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    &-item:link,
    &-item::visited {
      color: $default-color-heading;
    }
    &-item:hover,
    &-item:active {
      //color: $default-color-heading;
      text-decoration: underline;
    }
  }
}

// Dropdown hover effects
#sReasons,
#eThings,
#fWays,
#fMistakes {
  position: relative;
}
#sReasons:hover::after {
  content: "7 Reasons Why You Should Hike in Taiwan";
  @include dropdown-menu-effect;
}
#eThings:hover::after {
  content: "11 Things to Know before You Hike in Taiwan";
  @include dropdown-menu-effect;
}
#fWays:hover::after {
  content: "4 Ways to Enjoy Hikes in Taiwan";
  @include dropdown-menu-effect;
}
#fMistakes:hover::after {
  content: "5 Deadly Mistakes to Avoid While Hiking in Taiwan";
  @include dropdown-menu-effect;
}

================================================================================== */
.landing-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit); }
  @media only screen and (min-width: 1180px) {
    .landing-content {
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: minmax(45%, 55%) auto auto;
      justify-content: space-between;
      align-content: start; }
      .landing-content__main {
        width: 100%;
        grid-column: 2 / 9;
        grid-row: 1 / 2; }
      .landing-content__sidebar {
        grid-column: 9 / 12;
        grid-row: 1 / 2; }
      .landing-content__testimonials {
        grid-column: 2 / 12;
        grid-row: 2 / 3; }
      .landing-content__about {
        grid-column: 3 / 11;
        grid-row: 3 / 4; }
      .landing-content__form {
        grid-column: 1 / 13;
        grid-row: 4 / 5; } }

.footer {
  width: 100%;
  height: 32rem;
  padding: 3rem;
  background-color: #76a3a3;
  color: #d24747; }
  .footer__logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center; }
    .footer__logo--img {
      width: 5rem;
      height: 5rem; }
  .footer__copyright {
    width: 100%;
    max-height: 13rem;
    font-size: 1.6rem;
    color: #324034; }
    .footer__copyright-text-box {
      margin: 0 auto;
      text-align: center; }
    .footer__copyright a {
      color: #fff !important;
      transition: all 0.5s ease-in-out; }
      .footer__copyright a:link, .footer__copyright a:visited {
        text-decoration: underline wavy #76a3a3;
        color: #76a3a3; }
      .footer__copyright a:hover {
        color: #d24747;
        text-decoration: underline solid #b92d2d; }
  .footer__flaticon {
    margin: 3rem auto 0;
    width: 90%;
    font-size: 1rem;
    text-align: center; }

.love {
  width: 2rem;
  fill: #d24747; }

.landing-content__about {
  box-shadow: 10px 5px 35px -12px #888888;
  margin: 2rem auto 4rem;
  padding: 1rem;
  width: 90%; }
  .landing-content__about p {
    transition: all 0.3s ease-in-out; }
  .landing-content__about p:hover {
    transform: scale(1.02); }
  .landing-content__about p a {
    transition: all 0.5s ease-in-out; }
    .landing-content__about p a:link, .landing-content__about p a:visited {
      text-decoration: underline wavy #76a3a3;
      color: #76a3a3; }
    .landing-content__about p a:hover {
      color: #d24747;
      text-decoration: underline solid #b92d2d; }
  @media only screen and (min-width: 560px) {
    .landing-content__about {
      width: 70%; } }
  @media only screen and (min-width: 720px) {
    .landing-content__about {
      width: 55%; } }
  @media only screen and (min-width: 1180px) {
    .landing-content__about {
      width: 70%; } }
  .landing-content__about h2 {
    font-size: 2.1rem;
    color: #d24747; }
  .landing-content__about h3 {
    font-size: 1.6rem;
    color: #d24747; }

.disclaimer__heading {
  margin: 2rem auto 0;
  font-size: 4.4rem;
  color: #d24747;
  text-align: center; }

.disclaimer {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 100%;
  height: auto; }
  @media only screen and (min-width: 560px) {
    .disclaimer {
      width: 70%; } }
  @media only screen and (min-width: 720px) {
    .disclaimer {
      font-size: 2.1rem;
      width: 60%; } }
  @media only screen and (min-width: 940px) {
    .disclaimer {
      width: 50%; } }
  @media only screen and (min-width: 1180px) {
    .disclaimer {
      width: 50%; } }
  .disclaimer__note {
    border: 2px solid orchid;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .disclaimer__note h2 {
      font-size: 2.1rem;
      text-align: center; }
    @media only screen and (min-width: 560px) {
      .disclaimer__note {
        height: 70vh; } }
    @media only screen and (min-width: 720px) {
      .disclaimer__note {
        height: 80vh; } }
  .disclaimer__text-title {
    font-size: 2.1rem;
    color: #d24747;
    line-height: 1.1rem; }
  .disclaimer__text p {
    font-size: 2.1rem; }

.strong {
  color: #b92d2d; }

p {
  font-size: 1.6rem;
  font-family: "Archivo", sans-serif;
  margin: 1rem auto;
  text-indent: 1.5rem; }
  p a {
    transition: all 0.5s ease-in-out; }
    p a:link, p a:visited {
      text-decoration: underline wavy #76a3a3;
      color: #76a3a3; }
    p a:hover {
      color: #d24747;
      text-decoration: underline solid #b92d2d; }

.seven {
  margin: 1rem auto 3rem;
  padding: 1rem;
  width: 95%;
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 560px) {
    .seven {
      width: 70%; } }
  @media only screen and (min-width: 720px) {
    .seven {
      width: 60%; } }
  @media only screen and (min-width: 940px) {
    .seven {
      margin: 2rem auto;
      width: 50%; } }
  @media only screen and (min-width: 1340px) {
    .seven {
      width: 40%; } }
  .seven__heading {
    margin: 1.5rem auto;
    font-size: 4.4rem;
    color: #d24747;
    line-height: 1;
    text-align: center; }
  .seven__image-box {
    margin: 0 auto;
    width: 100%;
    height: 28rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem; }
    @media only screen and (min-width: 940px) {
      .seven__image-box {
        height: 35rem; } }
    .seven__image-box--image img {
      box-shadow: 10px 5px 35px -12px #888888;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .seven__intro {
    margin: 0.5rem auto 1rem;
    padding: 1rem;
    width: 100%; }

.reasons {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%; }
  .reasons__reason {
    margin: 2rem auto; }
  .reasons__heading {
    display: block;
    width: 100%;
    margin: 1rem auto;
    font-size: 2.1rem;
    color: #d24747;
    line-height: 1.2; }
  .reasons__image-box {
    margin: 0 auto;
    width: 30rem;
    height: auto; }
    @media only screen and (min-width: 560px) {
      .reasons__image-box {
        width: 40rem;
        height: auto; } }
    @media only screen and (min-width: 720px) {
      .reasons__image-box {
        width: 60%; } }
    @media only screen and (min-width: 940px) {
      .reasons__image-box {
        width: 100%; } }
  .reasons__image {
    display: flex;
    flex-direction: column;
    padding: 0.5rem; }
    .reasons__image img {
      margin: 0 auto;
      width: 100%;
      box-shadow: 10px 5px 35px -12px #888888;
      object-fit: cover; }
    .reasons__image--caption {
      margin: 0.6rem 0;
      font-size: 1.6rem;
      text-align: center; }
      @media only screen and (min-width: 720px) {
        .reasons__image--caption {
          font-size: 1.2rem; } }

@media only screen and (min-width: 940px) {
  .reason-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(3, minmax(30%, 40%)); }
    .reason-1__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-1__img-1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
      .reason-1__img-1 figure img {
        margin-top: 1rem;
        width: 80%; }
    .reason-1__img-2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4; }
      .reason-1__img-2 figure img {
        margin-top: 1rem;
        width: 80%; }
    .reason-1__img-3 {
      grid-column: 1 / 3;
      grid-row: 4 / 5; }
    .reason-1__p1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3; }
    .reason-1__p2 {
      grid-column: 1 / 3;
      grid-row: 3 / 4; }
    .reason-1__p3 {
      grid-column: 3 / 6;
      grid-row: 4 / 5; } }

@media only screen and (min-width: 940px) {
  .reason-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(4, minmax(20%, 30%)); }
    .reason-2__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-2__img-1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3; }
      .reason-2__img-1 figure img {
        margin-top: 1rem;
        width: auto;
        height: 24rem;
        object-fit: cover; }
    .reason-2__img-2 {
      grid-column: 4 / 6;
      grid-row: 4 / 5; }
      .reason-2__img-2 figure img {
        margin-top: 1rem; }
    .reason-2__img-3 {
      grid-column: 1 / 3;
      grid-row: 3 / 4; }
    .reason-2__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
    .reason-2__p2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4; }
    .reason-2__p3 {
      grid-column: 1 / 4;
      grid-row: 4 / 5; }
    .reason-2__p4 {
      grid-column: 1 / 6;
      grid-row: 5 / 6; } }

@media only screen and (min-width: 940px) {
  .reason-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 30% repeat(4, minmax(30%, 40%)); }
    .reason-3__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-3__img-1 {
      grid-column: 4 / 6;
      grid-row: 2 / 4; }
      .reason-3__img-1 figure img {
        margin-top: 1.2rem; }
    .reason-3__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
    .reason-3__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4; }
    .reason-3__p3 {
      grid-column: 1 / 6;
      grid-row: 4 / 5; } }

@media only screen and (min-width: 940px) {
  .reason-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 30% repeat(4, minmax(30%, 40%)); }
    .reason-4__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-4__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 3;
      grid-row: 2 / 3; }
    .reason-4__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 3 / 4; }
    .reason-4__img-3 {
      margin-top: 1rem;
      grid-column: 1 / 3;
      grid-row: 4 / 5; }
    .reason-4__img-4 {
      margin-top: 1rem;
      grid-column: 1 / 6;
      grid-row: 5 / 6; }
      .reason-4__img-4 figure img {
        height: 30rem;
        width: auto;
        object-fit: cover; }
    .reason-4__p1 {
      grid-column: 3 / 6;
      grid-row: 2 / 3; }
    .reason-4__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4; }
    .reason-4__p3 {
      grid-column: 3 / 6;
      grid-row: 4 / 5; } }

@media only screen and (min-width: 940px) {
  .reason-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(3, minmax(30%, 40%)); }
    .reason-5__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-5__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 2 / 3; }
    .reason-5__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 3 / 4; }
    .reason-5__img-3 {
      margin-top: 1rem;
      grid-column: 3 / 6;
      grid-row: 4 / 5; }
    .reason-5__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
    .reason-5__p2 {
      grid-column: 4 / 6;
      grid-row: 3 / 4; }
    .reason-5__p3 {
      grid-column: 1 / 3;
      grid-row: 4 / 5; } }

@media only screen and (min-width: 940px) {
  .reason-6 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(3, minmax(30%, 40%)); }
    .reason-6__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-6__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
    .reason-6__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 3 / 4; }
      .reason-6__img-2 figure img {
        width: 70%; }
    .reason-6__img-3 {
      margin-top: 1rem;
      grid-column: 1 / 6;
      grid-row: 4 / 5; }
      .reason-6__img-3 figure img {
        width: 35rem; }
    .reason-6__p1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3; }
    .reason-6__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4; } }

@media only screen and (min-width: 940px) {
  .reason-7 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(5, minmax(20%, 30%)); }
    .reason-7__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2; }
    .reason-7__img-1 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 2 / 3; }
    .reason-7__img-2 {
      grid-column: 1 / 3;
      grid-row: 3 / 4; }
      .reason-7__img-2 figure img {
        margin-top: 2rem;
        width: 100%; }
    .reason-7__img-3 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 4 / 5; }
      .reason-7__img-3 figure img {
        width: 60%; }
    .reason-7__img-4 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 5 / 6; }
    .reason-7__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
    .reason-7__p2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4; }
    .reason-7__p3 {
      grid-column: 1 / 4;
      grid-row: 4 / 5; }
    .reason-7__p4 {
      grid-column: 4 / 6;
      grid-row: 5 / 6; }
    .reason-7__p5 {
      grid-column: 1 / 6;
      grid-row: 6 / 7; } }

.trips__heading {
  margin: 2rem auto 0;
  font-size: 4.4rem;
  color: #d24747;
  text-align: center; }

h2 {
  font-size: 2.1rem;
  color: #d24747; }

h3 {
  color: #5c8a8a;
  font-size: 2.1rem;
  line-height: 1.1;
  margin: 1rem 0.5rem;
  text-align: center; }

.trips {
  margin: 0 auto;
  width: 100%;
  height: auto; }
  .trips__note {
    width: 95%;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-family: "Archivo", sans-serif;
    color: #426262; }
    @media only screen and (min-width: 560px) {
      .trips__note {
        width: 70%; } }
    @media only screen and (min-width: 720px) {
      .trips__note {
        font-size: 2.1rem;
        width: 80%; } }
  .trips__events {
    margin: 2rem auto;
    width: 90%;
    height: auto; }
  .trips__customized {
    margin: 2rem auto 0;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    background-color: #76a3a3; }

.events__oneDayFree, .events__paid, .events__three {
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid darkturquoise; }
  @media only screen and (min-width: 560px) {
    .events__oneDayFree, .events__paid, .events__three {
      border: 2px solid greenyellow;
      width: 90%; } }
  @media only screen and (min-width: 720px) {
    .events__oneDayFree, .events__paid, .events__three {
      border: 2px solid purple;
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 940px) {
    .events__oneDayFree, .events__paid, .events__three {
      width: 90%; } }
  @media only screen and (min-width: 1180px) {
    .events__oneDayFree, .events__paid, .events__three {
      width: 85%;
      grid-template-columns: repeat(3, minmax(28rem, 33rem)); } }
  @media only screen and (min-width: 1340px) {
    .events__oneDayFree, .events__paid, .events__three {
      grid-template-columns: repeat(3, minmax(27rem, 33rem));
      width: 80%; } }
.events__oneDayFree-title {
  color: blue; }
  @media only screen and (min-width: 720px) {
    .events__oneDayFree-title {
      background-color: blueviolet;
      grid-column: 1 / 3;
      grid-row: 1 / 2; } }

.singleTrip {
  margin: 2.5rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Archivo", sans-serif;
  box-shadow: 10px 5px 35px -12px #888888;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem; }
  .singleTrip:hover {
    transform: translateY(-0.5rem); }
  @media only screen and (min-width: 560px) {
    .singleTrip {
      min-width: 25%;
      max-width: 80%;
      max-height: 40rem;
      overflow: scroll; } }

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown; }

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.bounceInDown {
  animation-name: bounceInDown; }

/* ----------------------------------------------
 * Generated by Animista on 2019-9-28 21:40:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

/*# sourceMappingURL=main.css.map */
