@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.6; }

.main,
.footer {
  width: 90%;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/********************
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Alegreya Sans SC', sans-serif; 
base-color: #226767;
heading-font-color: #D24747;
************************/
body {
  font-family: "Alegreya Sans SC", sans-serif; }

.nav__heading,
h2,
h3 {
  font-family: "Averia Gruesa Libre", cursive; }

.landing-content__main {
  margin: 4rem 0;
  height: 75vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr; }
  .landing-content__main--video {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    position: relative; }
    .landing-content__main--video-content {
      object-fit: fill;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.9;
      overflow: hidden;
      width: 100%; }
  .landing-content__main--title {
    font-size: 4.4rem;
    display: inline-block;
    opacity: 0.8;
    padding: 5rem 1rem;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(rgba(255, 255, 0, 0) 10%, black 90%);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    z-index: 99; }
    .landing-content__main--title a:link,
    .landing-content__main--title a:visited {
      color: #fff;
      text-shadow: 2px 2px 2px #130f13; }
    .landing-content__main--title a:hover,
    .landing-content__main--title a:active {
      text-decoration: underline; }

.trip-avatar-img {
  width: 100%;
  height: auto; }

.tap-img {
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  outline: none; }

.header {
  width: 100%;
  height: 8vh;
  background-color: #76a3a3;
  box-shadow: 0 2px 5px #888888;
  display: grid;
  grid-template-columns: 5% 45% 50%;
  justify-content: space-between;
  align-items: center; }
  .header__logo-box {
    display: grid;
    justify-content: center;
    align-content: center; }
  .header__logo {
    width: 4.5rem; }
  .header__heading {
    letter-spacing: 2px;
    padding-left: 1rem;
    transition: all 0.3s;
    font-size: 2.1rem;
    animation: bounceInDown 0.5s 0.3s ease-in-out;
    -webkit-animation: bounceInDown 0.5s 0.3s ease-in-out;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
  .header__heading a:link,
  .header__heading a:visited {
    color: #fff; }
  .header__heading a:hover,
  .header__heading a:active {
    color: #d24747; }
  .header__nav {
    z-index: 99; }
    .header__nav--menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      align-content: center; }
      .header__nav--menu-item {
        display: block;
        width: 300px;
        height: 3rem;
        text-align: left;
        margin: 0;
        padding: 0.2rem; }
      .header__nav--menu-link:link, .header__nav--menu-link:visited {
        color: #fff;
        font-size: 2.1rem;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out; }
      .header__nav--menu-link:hover, .header__nav--menu-link:active {
        color: #d24747; }

.menu {
  display: flex;
  position: relative; }
  li:hover .menu__dropdown {
    display: block; }
  .menu__item > a {
    display: inline-block;
    width: 100%; }
  .menu__item:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .menu__dropdown {
    display: none;
    position: absolute; }
    .menu__dropdown-item {
      font-size: 1.6rem;
      width: 11vw;
      padding: 0.8rem;
      text-align: left;
      color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #76a3a3;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
    .menu__dropdown-item:hover {
      margin-top: 0.5rem;
      color: #fff; }

#sReasons,
#eThings,
#fWays,
#fMistakes {
  position: relative; }

#sReasons:hover::after {
  content: "7 Reasons Why You Should Hike in Taiwan";
  width: 28vw;
  height: 98%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
  background-color: #5c8a8a;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #fff;
  animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

#eThings:hover::after {
  content: "11 Things to Know before You Hike in Taiwan";
  width: 28vw;
  height: 98%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
  background-color: #5c8a8a;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #fff;
  animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

#fWays:hover::after {
  content: "4 Ways to Enjoy Hikes in Taiwan";
  width: 28vw;
  height: 98%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
  background-color: #5c8a8a;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #fff;
  animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

#fMistakes:hover::after {
  content: "5 Deadly Mistakes to Avoid While Hiking in Taiwan";
  width: 28vw;
  height: 98%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
  background-color: #5c8a8a;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #fff;
  animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16); }

.landing-content {
  margin: 1rem;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  justify-content: space-around; }
  .landing-content__main {
    grid-column: 2 / 9;
    grid-row: 1 / 6; }
  .landing-content__sidebar {
    border: 3px solid green;
    margin: 4rem 0;
    grid-column: 9 / 12;
    grid-row: 1 / 6;
    font-size: 1.6rem;
    padding-left: 1rem; }
    .landing-content__sidebar--trip {
      border: 2px solid orangered;
      margin: 2px;
      padding: 2px;
      height: 16vh;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center; }
      .landing-content__sidebar--trip-avatar {
        border: 3px solid green;
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      .landing-content__sidebar--trip-img {
        border: 3px solid green;
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      .landing-content__sidebar--trip-text {
        line-height: 0.8;
        grid-column: 1 / 3;
        grid-row: 2 / 3; }
        .landing-content__sidebar--trip-text button {
          cursor: pointer;
          background-color: transparent;
          overflow: hidden;
          outline: none;
          background-repeat: no-repeat; }
  .landing-content__testimony {
    background-color: olivedrab;
    grid-column: 3 / 11;
    grid-row: 6 / 7; }

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown; }

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInDown {
  animation-name: bounceInDown; }
