*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff; }

.main,
.footer {
  width: 90%;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/********************
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Alegreya Sans SC', sans-serif; 
base-color: #226767;
heading-font-color: #D24747;
************************/
body {
  font-family: "Alegreya Sans SC", sans-serif; }

.nav__heading,
h2,
h3 {
  font-family: "Averia Gruesa Libre", cursive; }

.header {
  width: 100%;
  height: 10vh;
  background-color: #76a3a3;
  display: grid;
  grid-template-columns: 5% 55% 40%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem; }
  .header__logo-box {
    display: grid;
    justify-content: center;
    align-content: center; }
  .header__logo {
    width: 5rem; }
  .header__heading {
    font-size: 2.3rem; }
  .header__nav--menu {
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .header__nav--menu-link:link, .header__nav--menu-link:visited {
      color: #fff;
      font-size: 2.3rem; }
    .header__nav--menu-link:hover, .header__nav--menu-link:active {
      color: #dc7070; }
