*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.6; }

.main,
.footer {
  width: 90%;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/********************
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Alegreya Sans SC', sans-serif; 
base-color: #226767;
heading-font-color: #D24747;
************************/
body {
  font-family: "Alegreya Sans SC", sans-serif; }

.nav__heading,
h2,
h3 {
  font-family: "Averia Gruesa Libre", cursive; }

.header {
  width: 100%;
  height: 10vh;
  background-color: #76a3a3;
  box-shadow: 0 2px 5px #888888;
  display: grid;
  grid-template-columns: 5% 50% 45%;
  justify-content: space-around;
  align-items: center; }
  .header__logo-box {
    display: grid;
    justify-content: center;
    align-content: center; }
  .header__logo {
    width: 4.5rem; }
  .header__heading {
    padding-left: 1rem;
    font-size: 2.3rem;
    animation: bounceInDown 0.5s 0.3s ease-in-out;
    -webkit-animation: bounceInDown 0.5s 0.3s ease-in-out; }
  .header__nav--menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-content: center; }
    .header__nav--menu-item {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      margin: 0;
      padding: 0.2rem; }
    .header__nav--menu-link {
      display: block; }
    .header__nav--menu-link:link, .header__nav--menu-link:visited {
      color: #fff;
      font-size: 2.3rem;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out; }
    .header__nav--menu-link:hover, .header__nav--menu-link:active {
      color: #a2a2a2;
      background-color: #5c8a8a; }

.menu {
  display: flex;
  position: relative; }
  li:hover .menu__dropdown {
    display: block; }
  .menu__item > a {
    display: inline-block;
    width: 100%; }
  .menu__item:hover {
    color: #fff;
    background-color: #5c8a8a;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .menu__dropdown {
    display: none;
    position: absolute;
    background-color: #76a3a3; }
    .menu__dropdown-item {
      font-size: 1.6rem;
      padding: 1rem;
      text-align: left;
      color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
    .menu__dropdown-item:hover {
      background-color: #d24747;
      color: #fff; }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInDown {
  animation-name: bounceInDown; }
