<header class="header">
	<div class="header__logo-box">
		<a href="index.html"><img src="img/logo.svg" alt="logo" class="header__logo-box-img"/></a>
		<div class="header__heading">
			<a href="index.html">Taiwan Hikes</a>
		</div>
	</div>

	<div class="hamburger">
		<input type="checkbox" class="hamburger__checkbox" id="hamburger-toggle" />
		<label for="hamburger-toggle" class="hamburger__icon">
			<span class="hamburger__line">&nbsp;</span>
		</label>
		<div class="hamburger__background">&nbsp;</div>

		<nav class="hamburger__nav">
			<!-- <h2></h2> -->
			<ul class="hamburger__content">
				<li class="hamburger__content--menu"><a href="index.html" class="hamburger__content--link">Home</a></li>
				<li class="hamburger__content--menu"><a href="#about" class="hamburger__content--link">About</a></li>
				<li class="hamburger__content--menu">
					<a href="seven-reasons-why-visiting-taiwan.html" class="hamburger__content--link">Why Taiwan</a>
				</li>
				<li class="hamburger__content--menu">
					<a href="trips.html" class="hamburger__content--link">Trips</a>
				</li>
				<li class="hamburger__content--menu"><a href="blog.html" class="hamburger__content--link">Blog</a></li>
			</ul>
		</nav>
	</div>

	<nav class="header__nav menu__box">
		<ul class="header__nav--menu menu">
			<li class="header__nav--menu-item menu__item">
				<a href="#about" class="header__nav--menu-link">About</a>
				<!--
      <ul class="header__nav--dropdown menu__dropdown">
        <li class="header__nav--dropdown-item menu__dropdown-item">
          <a href="https://www.bbc.com/" class="header__dropdown-link">The Creator</a>
        </li>
        <li class="header__nav--dropdown-item menu__dropdown-item">
          <a href="#" class="header__dropdown-link">The Partners</a>
        </li>
        <li class="header__nav--dropdown-item menu__dropdown-item">
          <a href="#" class="header__dropdown-link">Disclaimer</a>
        </li>
        <li class="header__nav--dropdown-item menu__dropdown-item">
          <a href="#" class="header__dropdown-link">Privacy Policy</a>
        </li>
      </ul>
    -->
			</li>
			<li class="header__nav--menu-item menu__item">
				<a href="seven-reasons-why-visiting-taiwan.html" class="header__nav--menu-link">Why Taiwan</a>
				<ul class="header__nav--dropdown menu__dropdown">
					<li class="header__nav--dropdown-item menu__dropdown-item" id="sReasons">
						<a href="seven-reasons-why-visiting-taiwan.html" class="header__dropdown-link">7 Reasons</a>
					</li>
					<!--
          <li
            class="header__nav--dropdown-item menu__dropdown-item"
            id="eThings"
          >
            <a href="#" class="header__dropdown-link">11 Things</a>
          </li>
          <li
            class="header__nav--dropdown-item menu__dropdown-item"
            id="fWays"
          >
            <a href="#" class="header__dropdown-link">4 Ways</a>
          </li>
          <li
            class="header__nav--dropdown-item menu__dropdown-item"
            id="fMistakes"
          >
            <a href="#" class="header__dropdown-link"
              >5 Deadly Mistakes</a
            >
          </li>
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Other Resources</a>
          </li>
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Gallery</a>
          </li>
        -->
				</ul>
			</li>
			<li class="header__nav--menu-item menu__item">
				<a href="trips.html" class="header__nav--menu-link">Trips</a>
				<!--
        <ul class="header__nav--dropdown menu__dropdown">
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">The Bulletin</a>
          </li>
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Trail Picker</a>
          </li>
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Recommended Trails</a>
          </li>
        </ul>
      -->
			</li>
			<li class="header__nav--menu-item menu__item">
				<a href="blog.html" class="header__nav--menu-link">Blog</a>
				<!--
        <ul class="header__nav--dropdown menu__dropdown">
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Latest Posts</a>
          </li>
          <li class="header__nav--dropdown-item menu__dropdown-item">
            <a href="#" class="header__dropdown-link">Most Read</a>
          </li>
        </ul>
      -->
			</li>
		</ul>
	</nav>
</header>
