      <section class="landing-content__form form">
        <form class="form__box">
          <fieldset>
             <legend>Sign up with your email to receive news and updates.</legend>
             <div class="form__name">
                <label class="form__name--label" for="form-name">Name:</label>
                <input class="form__name--input" type="text" placeholder="Your Name" id="form-name"></input>
             </div>
             <div class="form__email">
                <label class="form__name--label" for="form-email">E-mail:</label>
                <input class="form__name--input" type="email" placeholder="Your E-mail" id="form-email"></input>
             </div>
             <p class="form__text">We all hate span, so no spam, ever.</br> Your email address will only ever be used for Taiwan Hikes.</p>
             <button class="form__submit">Get the updates!</button>
          </fieldset>      
        </form>
      </section> 
