.header {
  margin: 0;
  width: 100%;
  height: 9vh;
  background-color: $default-color;
  box-shadow: 0 2px 5px $color-grey;
  display: grid;
  grid-template-columns: 5% 45% 45%;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-column-gap: 0.5rem;
  align-items: center;

  &__logo-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    justify-content: center;
    align-content: center;

    &-img {
      width: 4.5rem;
    }
  }

  &__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    letter-spacing: 2px;
    padding-left: 1rem;
    font-size: $font-size-big;
    //color: $color-white;
    // animation: bounceInDown 0.5s 0.3s ease-in-out;
    // -webkit-animation: bounceInDown 0.5s 0.3s ease-in-out;
  }

  &__heading a:link,
  &__heading a:visited {
    color: $color-white;
    font-weight: 600;
  }

  &__heading a:hover,
  &__heading a:active {
    color: $default-color-heading;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  &__nav {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    z-index: 99;
    &--menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      align-content: center;

      &-item {
        display: block;
        width: 300px; //100%
        height: 3rem;
        text-align: left;
        margin: 0;
        padding: 0.2rem;
      }

      &-link:link,
      &-link:visited {
        color: $color-white;
        font-size: $font-size-medium;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
      }

      &-link:hover,
      &-link:active {
        color: $default-color-heading;
      }
    }
  }
}
// Dropdown Menu

.menu {
  display: flex;
  position: relative;

  li:hover &__dropdown {
    display: block;
  }

  &__item > a {
    display: inline-block;
    width: 100%;
  }

  &__item:hover {
    color: $color-white;
    // background-color: darken($default-color, 10%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  &__dropdown {
    display: none;
    position: absolute;

    &-item {
      font-size: $font-size-sm;
      width: 11vw;
      padding: 0.8rem;
      text-align: left;
      color: $color-white;
      display: flex;
      flex-direction: column;
      background-color: $default-color;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    &-item:link,
    &-item::visited {
      color: $default-color-heading;
    }
    &-item:hover,
    &-item:active {
      //color: $default-color-heading;
      text-decoration: underline;
    }
  }
}

// Dropdown hover effects
#sReasons,
#eThings,
#fWays,
#fMistakes {
  position: relative;
}
#sReasons:hover::after {
  content: "7 Reasons Why You Should Hike in Taiwan";
  @include dropdown-menu-effect;
}
#eThings:hover::after {
  content: "11 Things to Know before You Hike in Taiwan";
  @include dropdown-menu-effect;
}
#fWays:hover::after {
  content: "4 Ways to Enjoy Hikes in Taiwan";
  @include dropdown-menu-effect;
}
#fMistakes:hover::after {
  content: "5 Deadly Mistakes to Avoid While Hiking in Taiwan";
  @include dropdown-menu-effect;
}
