.landing-content {
  margin: 3rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(30rem, auto-fit)), minmax(50rem, 1300rem);
  grid-gap: 0.5rem;
  justify-content: space-between;
  align-content: start;

  @media only screen and (max-width: $bp-large) {
    width: 96%;
    // min-height: 60vh;
    // grid-template-rows: repeat(2, 30rem), 50rem;
    border: 3px solid pink;
  }

  @media only screen and (max-width: $bp-m2) {
    width: 100%;

    grid-template-rows: repeat(3, 40rem);
    border: 3px solid blue;
  }

  // delete this later
  @media only screen and (max-width: $bp-sm) {
    border: 3px solid peru;
  }

  &__main {
    grid-column: 2 / 9;
    grid-row: 1 / 3;
    // check _bg-video.scss for details

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / 9;
    }
    @media only screen and (max-width: $bp-m2) {
      grid-column: 2 / 12;
    }
  }
  &__sidebar {
    height: 78vh;
    margin: 2rem 0;
    grid-column: 9 / 12;
    grid-row: 1 / 2;

    // display: flex;
    // flex-direction: column;
    // align-content: space-between;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10%, repeat(4, 22%);

    font-size: $font-size-sm;
    padding-left: 0.8rem;

    @media only screen and (max-width: $bp-large) {
      grid-column: 9 / 13;
    }
    @media only screen and (max-width: $bp-m2) {
      grid-column: 2 / 12;
      grid-row: 2 / 3;
      margin: 1rem 0;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 2fr;
      grid-gap: 1rem;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @media only screen and (max-width: $bp-sm) {
      margin-top: 2rem;
      max-height: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
    }
    :hover {
      background-color: lighten($default-color, 40%);
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }

    &--heading {
      display: inline-block;
      padding-left: 0.3rem;

      @media only screen and (max-width: $bp-m2) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-bottom: 0.2rem;
      }
    }
    &--trip:not(:last-child) {
      border-bottom: 1px solid rgba($color-grey, 0.5);
    }

    &--trip {
      margin: 0;
      padding: 4px;
      height: 23.5%;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;

      @media only screen and (max-width: $bp-large) {
        border-bottom: 1px solid rgba($color-grey, 0.5);
        // height: 22%;

        display: grid;
        grid-template-columns: 2fr 75% 1fr;
        grid-row: 1fr;
      }

      @media only screen and (max-width: $bp-m2) {
        // border: 1px solid rgba($color-grey, 0.5);
        padding-top: 2rem;
        box-shadow: 2px 2px 4px rgba($color-grey, 0.5);
        height: 70%;
      }

      @media only screen and (max-width: $bp-sm) {
        height: 20%;
        padding-top: 1rem;
        display: grid;
      }

      &-avatar {
        margin: 2px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: $bp-large) {
          display: none;
        }
      }
      &-img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
        align-self: center;

        @media only screen and (max-width: $bp-large) {
          grid-column: 1 / 2;
          grid-row: 1 /2;
        }
      }
      &-text {
        line-height: 0.8;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-right: 1.3rem;
        width: 91%;

        @media only screen and (max-width: $bp-large) {
          grid-column: 2 / 3;
          grid-row: 1 /2;
        }
      }
      &-click {
        cursor: pointer;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: end;
        align-self: end;
        display: inline-block;
        padding-top: 1.2rem;

        @media only screen and (max-width: $bp-large) {
          grid-column: 3 / 4;
          grid-row: 1 /2;
        }
      }
    }
  }
  // check _testimonials.scss for details
  &__testimonials {
    grid-column: 2 / 12;
    grid-row: 3 / 4;

    @media only screen and (max-width: $bp-sm) {
      margin-top: 2rem;
      height: 90rem;
    }
  }
}
