/********************
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Alegreya Sans SC', sans-serif; 
base-color: #226767;
heading-font-color: #D24747;
************************/

body {
  font-family: "Alegreya Sans SC", sans-serif;
}

// h1 {
//   a {
//     color: $default-color-heading;
//     text-shadow: 1px 1px 2px $color-white;
//     transition: all 1s ease-in-out;
//     -webkit-transition: all 1s ease-in-out;
//     -moz-transition: all 1s ease-in-out;
//     -ms-transition: all 1s ease-in-out;
//     -o-transition: all 1s ease-in-out;
//   }
// }
.nav__heading,
h2,
h3 {
  font-family: "Averia Gruesa Libre", cursive;
}
