/********************
base-color: #028d96;
heading-font-color: #f87402;

font-family: 'Alegreya', serif; // heading
font-family: 'Karla', sans-serif; // text

************************/

// body {
//   font-family: "Archivo", sans-serif;
// }

// .nav__heading,
// h2,
// h3 {
//   font-family: 'Alegreya', serif;
// }
