p {
    font-size: $font-size-sm;
}

.seven {
    // for testing
<<<<<<< HEAD
    background-color: khaki; //$color-white;
=======
    background-color: pink; //$color-white;
>>>>>>> 31e073282d54b8b122e04bc92a83231ed9a70465

    &__heading {
        font-size: $font-size-xl;
    }

}