p {
  font-size: $font-size-sm;
  font-family: $font-text2;
  margin: 1rem auto;
  text-indent: 1.5rem;

  a {
    @include link-style;
  }
}

.seven {
  margin: 1rem auto 3rem;
  padding: 1rem;
  width: 95%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;

  @include responsive(tab-land) {
    width: 70%;
  }

  @include responsive(sm-desktop) {
    width: 60%;
  }

  &__heading {
    margin: 1.5rem auto;
    font-size: $font-size-xl;
    color: $default-color-heading;
    line-height: 1;
    text-align: center;
  }

  &__image-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    @include responsive(tab-land) {
      width: 100%;
    }

    @include responsive(sm-desktop) {
      width: 80%;
    }

    // @include responsive(sm-desktop) {
    //   margin: 0 auto;
    // }

    &--image img {
      box-shadow: 10px 5px 35px -12px $color-grey;
      background-size: cover;

      @include responsive(tab-land) {
        width: 100%;
      }
    }
  }

  &__intro {
    margin: 0.5rem auto 2rem;
    padding: 1rem;
    width: 100%;
  }
}

.reasons {
  margin: 3rem auto;
  padding: 1rem;
  width: 100%;

  @include responsive(sm-desktop) {
    box-shadow: 10px 5px 35px -12px $default-color;
  }

  &__reason {
    margin: 2rem auto;
  }

  &__heading {
    margin: 1rem auto;
    font-size: $font-size-medium;
    color: $default-color-heading;
    line-height: 1.2;
  }

  &__image {
    display: flex;
    flex-direction: column;
    // border: 2px solid peru;
    padding: 0.5rem;

    img {
      margin: 0 auto;
      width: 70%;
      box-shadow: 10px 5px 35px -12px $color-grey;
      background-size: cover;

      @include responsive(sm-desktop) {
        width: 60%;
      }

      @include responsive(normal-desktop) {
        //border: 7px solid royalblue;
        width: 45%;
      }
    }

    &--caption {
      margin: 0.6rem 0;
      font-size: $font-size-sm;
      text-align: center;
    }
  }
}

/*
.seven {
  // border: 2px solid peru;
  margin: 1rem auto 3rem;
  padding: 1rem;
  width: 95%;
  background-color: $color-white;

  @include responsive(tab-land) {
    border: 5px solid pink;
    width: 70%;
  }

  &__heading {
    margin: 1.5rem auto;
    font-size: $font-size-xl;
    color: $default-color-heading;
    line-height: 1;
    text-align: center;
  }

  &__image-box {
    border: 3px dashed lawngreen;
    width: 100%;
    padding: 1rem;
    text-align: center;

    @include responsive(tab-land) {
      width: 100%;
    }

    &--image img {
      box-shadow: 10px 5px 35px -12px $color-grey;
      background-size: cover;

      @include responsive(tab-land) {
        width: 100%;
      }
    }

    &--caption {
      font-weight: 600;
    }
  }

  &__intro {
    margin: 0.5rem auto 2rem;
    padding: 1rem;
    width: 100%;
  }
}

*************** for size animation
.size {
  margin: 3rem auto;
  padding: 1rem;
  width: 95%;

  &__comparisons {
    background-color: khaki;
  }
}
********************

.reasons {
  border: 3px solid turquoise;
  margin: 3rem auto;
  padding: 1rem;
  width: 100%;

  &__reason {
    margin: 3rem auto;
  }

  &__heading {
    margin: 1rem auto;
    font-size: $font-size-medium;
    color: $default-color-heading;
    line-height: 1.2;
  }

  &__image-box {
    border: 3px solid peru;
    margin: 2rem auto;
    // background-color: khaki;
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;

    @include responsive(tab-land) {
      width: inherit;
      height: auto;
    }

    &__image img {
      width: 100%;

      & img {
        width: 100%;
        background-size: cover;
        box-shadow: 10px 5px 35px -12px $color-grey;
      }

      &--caption {
        padding: 0.5rem 1rem 1rem;
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  @include responsive(tab-land) {
    width: 70%;
  }

  @include responsive(sm-desktop) {
    width: 55%;
  }

  @include responsive(normal-desktop) {
    width: 45%;
  }
}

.size__comparison--pair-tw {
  // width: 50%;
  // height: 80%;
  border: 2px solid red;
}

.taiwan {
  background-color: aqua;
  width: 10%;
  height: auto;
}

.norway {
  background-color: blue;
  width: 50%;
  height: auto;
}


*/
