p {
  font-size: $font-size-sm;
  font-family: $font-text;
  margin: 1rem auto;
  text-indent: 1.5rem;

  a {
    @include link-style;
  }
}

.seven {
  margin: 1rem auto 3rem;
  padding: 1rem;
  width: 95%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;

  @include responsive(tab-land) {
    width: 70%;
  }

  @include responsive(sm-desktop) {
    width: 60%;
  }

  @include responsive(normal-desktop) {
    margin: 2rem auto;
    width: 50%;
  }

  @include responsive(xl-desktop) {
    width: 40%;
  }

  &__heading {
    margin: 1.5rem auto;
    font-size: $font-size-xl;
    color: $default-color-heading;
    line-height: 1;
    text-align: center;
  }

  &__image-box {
    margin: 0 auto;
    width: 100%;
    height: 28rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    @include responsive(normal-desktop) {
      height: 35rem;
    }

    &--image img {
      box-shadow: 10px 5px 35px -12px $color-grey;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__intro {
    margin: 0.5rem auto 1rem;
    padding: 1rem;
    width: 100%;
  }
}

.reasons {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;

  // @include responsive(sm-desktop) {
  //   box-shadow: 10px 5px 35px -12px $default-color;
  // }

  // reasons__reason === reason-1, reason-2, etc
  &__reason {
    margin: 2rem auto;

    // put the following back later
    // @include responsive(normal-desktop) {
    //   display: grid;
    //   grid-template-columns: repeat(5, 1fr);
    //   grid-template-rows: 15% repeat(3, minmax(30%, 40%));
    //   grid-gap: 0.6rem;
    // }
  }

  &__heading {
    display: block;
    width: 100%;
    margin: 1rem auto;
    font-size: $font-size-medium;
    color: $default-color-heading;
    line-height: 1.2;
  }
  &__image-box {
    margin: 0 auto;
    width: 30rem;
    height: auto;
    // height:

    @include responsive(tab-land) {
      width: 40rem;
      height: auto;
    }

    @include responsive(sm-desktop) {
      width: 60%;
    }

    @include responsive(normal-desktop) {
      width: 100%;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    img {
      margin: 0 auto;
      width: 100%;
      box-shadow: 10px 5px 35px -12px $color-grey;
      object-fit: cover;
    }

    &--caption {
      margin: 0.6rem 0;
      font-size: $font-size-sm;
      text-align: center;

      @include responsive(sm-desktop) {
        font-size: $font-size-xs;
      }
    }
  }
}

.reason-1 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(3, minmax(30%, 40%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      & figure img {
        margin-top: 1rem;
        width: 80%;
      }
    }
    &__img-2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4;
      & figure img {
        margin-top: 1rem;
        width: 80%;
      }
    }
    &__img-3 {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    &__p1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    &__p3 {
      grid-column: 3 / 6;
      grid-row: 4 / 5;
    }
  }
}

.reason-2 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    grid-template-rows: 15% repeat(4, minmax(20%, 30%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3;

      & figure img {
        margin-top: 1rem;
        width: auto;
        height: 24rem;
        object-fit: cover;
      }
    }
    &__img-2 {
      grid-column: 4 / 6;
      grid-row: 4 / 5;
      & figure img {
        margin-top: 1rem;
      }
    }
    &__img-3 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    &__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4;
    }

    &__p3 {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
    }

    &__p4 {
      grid-column: 1 / 6;
      grid-row: 5 / 6;
    }
  }
}

.reason-3 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    grid-template-rows: 30% repeat(4, minmax(30%, 40%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      grid-column: 4 / 6;
      grid-row: 2 / 4;
      & figure img {
        margin-top: 1.2rem;
      }
    }

    &__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    &__p3 {
      grid-column: 1 / 6;
      grid-row: 4 / 5;
    }
  }
}

.reason-4 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    grid-template-rows: 30% repeat(4, minmax(30%, 40%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 3 / 4;
    }

    &__img-3 {
      margin-top: 1rem;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    &__img-4 {
      margin-top: 1rem;
      grid-column: 1 / 6;
      grid-row: 5 / 6;

      & figure img {
        height: 30rem;
        width: auto;
        object-fit: cover;
      }
    }

    &__p1 {
      grid-column: 3 / 6;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    &__p3 {
      grid-column: 3 / 6;
      grid-row: 4 / 5;
    }
  }
}

.reason-5 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    grid-template-rows: 15% repeat(3, minmax(30%, 40%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }

    &__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    &__img-3 {
      margin-top: 1rem;
      grid-column: 3 / 6;
      grid-row: 4 / 5;
    }

    &__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 4 / 6;
      grid-row: 3 / 4;
    }

    &__p3 {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }
  }
}

.reason-6 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    grid-template-rows: 15% repeat(3, minmax(30%, 40%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__img-2 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 3 / 4;
      & figure img {
        width: 70%;
      }
    }

    &__img-3 {
      margin-top: 1rem;
      grid-column: 1 / 6;
      grid-row: 4 / 5;
      & figure img {
        width: 35rem;
      }
    }

    &__p1 {
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }

    &__p2 {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }
}

.reason-7 {
  @include responsive(normal-desktop) {
    // delete the following 3 lines later.
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;

    grid-template-rows: 15% repeat(5, minmax(20%, 30%));

    &__heading {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    &__img-1 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }

    &__img-2 {
      //margin-top: 1rem;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      & figure img {
        margin-top: 2rem;
        width: 100%;
      }
    }

    &__img-3 {
      margin-top: 1rem;
      grid-column: 4 / 6;
      grid-row: 4 / 5;
      & figure img {
        width: 60%;
      }
    }
    &__img-4 {
      margin-top: 1rem;
      grid-column: 1 / 4;
      grid-row: 5 / 6;
    }

    &__p1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
    &__p2 {
      grid-column: 3 / 6;
      grid-row: 3 / 4;
    }
    &__p3 {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
    }
    &__p4 {
      grid-column: 4 / 6;
      grid-row: 5 / 6;
    }
    &__p5 {
      grid-column: 1 / 6;
      grid-row: 6 / 7;
    }
  }
}
