h2 {
    font-size: $font-size-medium;
    color: $default-color-heading;
}

h3 {
    color: darken($default-color, 10%);
    font-size: $font-size-medium;
    line-height: 1.1;
    margin: 1rem .5rem;
    text-align: center;
}

.trips {
    margin: 0 auto;
    width: 95%;
    height: auto;
    overflow: auto;
    
//    &__box {
//        border: 3px solid orange;
//    }

    &__disclaimer {
        margin: 1rem auto;
        padding: 1rem 2rem;
        width: 95%;
        height: 40vh;
        overflow: auto;
        border: 1px solid $default-color-heading;

        &--heading {
            text-align: center;
            text-decoration: underline;
        }

        &--text {
            
            &-title {
                font-size: $font-size-sm;
                color: $default-color-heading;
            }
        }
    }

    &__events {
        height: auto;
    }

    &__customized {
        background-color: paleturquoise;
        height: 10rem;
    }
}

.events {
    
    &__note {
        font-size: $font-size-sm;
        color: darken($default-color, 23%);
    }
    
    &__oneDayFree {
        
         @include responsive(normal-desktop) {
             width: 90%;
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             grid-template-rows: auto;
         
        }
        
         @include responsive(normal-desktop) {
             
         
        }

        @include responsive(xl-desktop) {
            
        }
    }
    
}

.freeTrip,
.paidTrip,
.threeTrip {
    margin: 2rem auto;
    width: 90%;
    padding: 1rem;
    //background-color: beige;
    box-shadow: 10px 5px 35px -12px $color-grey;
    
    div {
        font-size: $font-size-xs;
        font-family: $font-text2;
    }
    
    @include responsive(tab-land) {
      width: 60%;
    }

    @include responsive(sm-desktop) {
      width: 32rem;
    }

    @include responsive(normal-desktop) {
      margin: 2rem auto;
      
    }

//    @include responsive(xl-desktop) {
//      width: 40%;
//    }
}

.freeTrip {    
    transition: all .3s ease-in-out;
    
    &:hover {
        background-color: lighten($default-color, 41%);
    }
    
//    &:hover > h3:hover {
//        color: $default-color-heading;
//    }
    
}


