h2 {
    font-size: $font-size-medium;
    color: $default-color-heading;
}

h3 {
    font-size: $font-size-sm;
    color: lighten($default-color-heading, 5%);
}

.trips {
    margin: 0 auto;
    width: 95%;
    height: auto;
    overflow: auto;
    border: 2px solid purple;
    
    &__box {
        border: 3px solid orange;
    }

    &__disclaimer {
        margin: 1rem auto;
        padding: 1rem 2rem;
        width: 95%;
        height: 40vh;
        overflow: auto;
        box-shadow: 10px 5px 35px -12px $color-grey;

        &--heading {
            text-align: center;
            text-decoration: underline;
        }

        &--text {
            
            &-title {
                font-size: $font-size-sm;
                color: $default-color-heading;
            }
        }
    }

    &__events {
        height: auto;
    }

    &__customized {
        background-color: paleturquoise;
        height: 10rem;
    }
}

.events {

    &__note {
        font-size: $font-size-sm;
        color: darken($default-color, 20%);
    }
}

.freeTrip,
.paidTrip,
.threeTrip {
    margin: 1rem auto;
    width: 95%;
    padding: 1rem;
    box-shadow: 10px 5px 35px -12px $color-grey;
}

