.landing-content__main {
  margin: 4rem auto;
  width: 90%;
  height: 70vh;
  background-image: url("../img/hike-photos/background-heading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  @include responsive(normal-desktop) {
    // background-image: url("../img/hike-photos/background-heading.jpg");
    background-color: khaki;
    width: 88%;
    height: 65vh;
  }

  @include responsive(big-desktop) {
    //background-image: url("../img/hike-photos/background-heading.jpg");
    background-color: pink;
    grid-template-rows: repeat(2, 1fr);

    height: 70vh;
  }
}

/*
===================================
Temporarily remove original styling
to make a simpler version first
====================================

.landing-content__main {
  margin: 4rem auto;
  width: 90%;
  height: 70vh;
  background-image: url("../img/hike-photos/background-heading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  @include responsive(tab-land) {
    position: relative;
    width: 70%;
    height: 85vh;
    grid-template-rows: repeat(4, 1fr);
  }
  @include responsive(normal-desktop) {
    margin: 3rem auto;
    position: relative;
    background-image: none;
    width: 88%;
    height: 65vh;

    // grid-template-rows: repeat(4, 1fr);
  }

  &--video {
    display: none;

    @include responsive(normal-desktop) {
      display: block;

      &-content {
        object-fit: cover;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9;
        overflow: hidden;
        width: 100%;
      }
    }
  }

  &--title {
    font-size: $font-size-big;
    display: grid;
    opacity: 0.8;
    padding: 3.7rem 1rem;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(
      rgba(255, 255, 0, 0) 10%,
      darken($color-dark, 50%) 90%
    );
    grid-row: 3 / 4;
    z-index: 99;

    @include responsive(tab-land) {
      grid-row: 4 / 5;
    }

    @include responsive(big-desktop) {
      grid-row: 4 / 5;
      font-size: $font-size-xl;
    }

    h1 {
      display: inline-block;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: translateY(-0.8rem);
      }

      & a:link,
      & a:visited {
        color: darken($default-color-heading, 5%);
        text-shadow: 2px 2px 2px $color-white;
      }

      & a:hover,
      & a:active {
        text-decoration: underline;
      }
    }
  }
}
*/
