.landing-content__main {
  margin: 4rem 0;
  height: 75vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;

  &--video {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    position: relative;

    &-content {
      object-fit: fill;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.9;
      overflow: hidden;
      width: 100%;
    }
  }

  &--title {
    font-size: $font-size-xl;
    display: inline-block;
    opacity: 0.8;
    padding: 5rem 1rem;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(
      rgba(255, 255, 0, 0) 10%,
      darken($color-dark, 50%) 90%
    );
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    z-index: 99;

    // h1 {
    //   transition: all 1s ease-in-out;
    //   -webkit-transition: all 1s ease-in-out;
    //   -moz-transition: all 1s ease-in-out;
    //   -ms-transition: all 1s ease-in-out;
    //   -o-transition: all 1s ease-in-out;
    // }

    & a:link,
    & a:visited {
      color: $color-white;
      text-shadow: 2px 2px 2px darken($color-dark, 20%);
    }

    & a:hover,
    & a:active {
      text-decoration: underline;
      // animation: bounceInDown;
      // -webkit-animation: bounceInDown;
    }
  }
}
