// content__main--video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   opacity: 0.15;
//   overflow: hidden;

//   &-content {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//   }
// }
