.btn-click {
  &:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-0.5rem);
  }
}

.scroll-up {
  display: none;

  @include responsive(sm-desktop) {
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    bottom: 10%;
    right: 5%;
    background: radial-gradient($default-color 15%, $color-dark 85%);
    cursor: pointer;
    z-index: 300;

    &__arrow {
      position: absolute;
      top: 13%;
      left: 11%;
      font-size: 4rem;
      color: $color-white;
      text-shadow: 0.1rem 0.1rem 0.2rem $color-grey;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-0.4rem);
      }
    }
  }
}
