.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto-fit;
  background-color: lighten($color-grey, 40%);

  &__box {
    margin: 2rem 0;
    grid-column: 1 / 13;

    @include responsive(tab-land) {
      grid-column: 2 / 12;
    }

    @include responsive(sm-desktop) {
      grid-column: 3 / 11;
    }

    @include responsive(normal-desktop) {
      grid-column: 4 / 10;
    }

    & fieldset {
      padding: 2rem 1rem;
      border: none;

      @include responsive(tab-land) {
      }

      & legend {
        display: block;
        font-family: "Averia Gruesa Libre", cursive;
        font-size: $font-size-big;
        color: $default-color-heading;
        text-align: center;
        line-height: 1.1;
        padding: 0.3rem 0.3rem 0;

        @include responsive(sm-desktop) {
          border: 3px solid teal;
          font-size: $font-size-big;
          text-align: center;
        }
      }
    }
  }
  &__name,
  &__email {
    margin: 1rem auto;
    // padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    //grid-gap: 0.4rem;
    //outline: none;

    &--label {
      display: block;
      // width: 30%;
      font-size: $font-size-medium;
      justify-self: center;
      align-self: center;
    }

    &--input {
      margin-left: 0.5rem;
      width: 80vw;
      height: 4rem;
      border: 1px solid $default-color;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;

      &:focus {
        //border: 0.2rem solid lighten($color-grey, 5%);
        box-shadow: 3px 3px 6px lighten($default-color, 5%);
        //background-color: lighten($default-color, 30%);
      }
      &:focus:invalid {
        border: 1px solid red;
      }
    }
  }

  &__text {
    color: $color-dark;
    text-align: center;
    text-indent: -1rem;
    font-size: $font-size-xs;
  }

  &__submit {
    background-color: lighten($default-color-heading, 10%);
    border: none;
    height: 5rem;
    width: 100%;
    font-family: "Averia Gruesa Libre", cursive;
    font-size: $font-size-sm;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: $default-color-heading;
      font-size: $font-size-medium;
      color: $color-white;
    }
    &:active,
    &:visited {
      color: $color-white;
    }

    &::after {
      content: "";
    }
  }
}
