.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(15vh, 50vh);
  background-color: lighten($color-grey, 40%);

  &__box {
    margin: 2rem 0;
    grid-column: 1 / 13;

    // justify-content: end;
    // align-content: center;

    @include responsive(sm-desktop) {
      grid-column: 3 / 11;
    }

    @include responsive(normal-desktop) {
      grid-column: 4 / 10;
    }

    & fieldset {
      padding: 2rem 1rem;
      border: none;

      & legend {
        display: block;
        border: 3px solid peru;
        font-size: $font-size-big;
        color: $default-color-heading;
        text-align: center;
        line-height: 1.1;

        @include responsive(sm-desktop) {
          border: 3px solid teal;
          font-size: $font-size-big;
          text-align: center;
        }
      }
    }
  }
  &__name,
  &__email {
    // margin: 1rem;
    // padding: 1rem;
    transition: all 3s ease-in;
    display: grid;
    grid-template-columns: 1fr 3fr;
    // justify-content: space-around;
    // align-content: space-around;
    grid-gap: 0.4rem;
    //outline: none;

    &--label {
      display: block;
      // width: 30%;
      font-size: $font-size-sm;
      border: 2px solid salmon;
    }

    &--input {
      margin-left: 0.5rem;
      width: 80vw;
      height: 5rem;
      &:focus {
        border: 0.2rem solid lighten($default-color, 5%);
        background-color: lighten($default-color, 30%);
      }
      &:focus:invalid {
        border: 1px solid red;
      }
    }
  }

  // need to check below again

  &__text {
    color: orangered;
  }

  &__submit {
    background-color: Salmon;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale (1.1);
      font-size: 15px;
      color: white;
    }
    &:active,
    &:vsited {
      width: 45px;
      width: 180px;
    }

    &::after {
      content: "";
    }
  }
}
