// When the header is on the top
// the hamburger menu will not show up.
// Make a JavaScript function to make
// the hamburger menu show up
// when user scrolling down

.hamburger {
  @include responsive(normal-desktop) {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__icon {
    background-color: $color-white;
    height: 4.2rem;
    width: 4.2rem;
    position: fixed;
    top: 1.2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 5rem rgba($color-dark, 0.3);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.4rem;
    right: 2rem;
    // background-image: radial-gradient(
    //   $default-color 10%,
    //   darken($color-dark, 20%)
    // );
    z-index: 1000;
    transition: transform 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    // transform: scale(50);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;

    transition: all 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &--menu {
      margin: 1rem;
    }

    &--link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        padding: 0.5rem 2rem;
        color: $color-white;
        // background-image: linear-gradient(
        //   120deg,
        //   transparent 0%,
        //   transparent 50%,
        //   $color-white 50%
        // );
        // background-size: 250%;
        // transition: all 0.4s ease-in-out;
        @include hover-effect-link-visited;
      }
      &:hover,
      &:active {
        background-position: 100%;
        color: darken($default-color, 10%);
        transform: translate(1rem);
      }
    }
  }

  // Functionality
  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  &__checkbox:checked ~ &__nav {
    width: 110%;
    opacity: 1;
  }

  &__line {
    position: relative;
    margin-top: 2rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 2.3rem;
      height: 2px;
      background-color: $color-dark;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.6rem;
    }
    &::after {
      top: 0.6rem;
    }
  }

  &__icon:hover &__line::before {
    top: -0.8rem;
  }

  &__icon:hover &__line::after {
    top: 0.8rem;
  }

  &__checkbox:checked + &__icon &__line {
    background-color: transparent;
  }

  &__checkbox:checked + &__icon &__line::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__icon &__line::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
