.hamnav {
  //display: none;
  height: 40vh;
  width: 100%;
  background-color: aqua;

  @include responsive(tab-port) {
    background-color: pink;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-dark, 0.2);
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    //changebackto5.5remlaterwidth: 6rem;
    border: 1px solid orangered;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    top: 1.7rem;
    right: 1.7rem;

    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__navi {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    &--item {
      margin: 1rem;

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: $font-size-big;
          padding: 1rem 2rem;
          color: $color-white;
          text-decoration: none;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-white 50%
          );
          background-size: 220%;
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;

          span {
            margin-right: 1.5rem;
            display: inline-block;
          }
        }
        &:hover,
        &:active {
          background-position: 100%;
          color: $default-color;
          transform: translateX(1rem);
          -webkit-transform: translateX(1rem);
          -moz-transform: translateX(1rem);
          -ms-transform: translateX(1rem);
          -o-transform: translateX(1rem);
        }
      }
    }
  }

  // Functionality
  &__checkbox:checked ~ &__navi {
    opacity: 1;
    width: 100%;
  }
}
