// landing page side bar
.trip-avatar {
  &-img {
    width: 100%;
    height: auto;
  }
}

.tap-img {
  cursor: pointer;
  background-color: transparent;
  //border: none;
  overflow: hidden;
  outline: none;
}
