.testimonials {
  //margin: 3rem auto;
  &__heading {
    font-size: $font-size-big;
    color: $default-color-heading;
  }
  &__block {
    &--person {
      &-photo {
      }
      &-name {
      }
    }

    &--text {
      font-size: $font-size-sm;
    }
  }
}
// &__testimonials {
//   border: 2px solid olivedrab;
//   grid-column: 3 / 11;
//   grid-row: 6 / 7;
// }
