// Media Query Manager
/*
0 - 400px    phone [where mobile-first styles apply]
400 - 600px   tablet portrait
600 - 900px   tablet landscape
1280 - 1800px desktop 
1800px +      big desktop

****** Old Breakpoints ******
$bp-large: 1080px;
$bp-m2: 900px;
$bp-sm: 600px;
$bp-xs: 450px;

******** Breakpoint argument choices:
- tab-port
- tab-land
- sm-desktop
- normal-desktop
- big-desktop

how to apply:
@include responsive(tab-port) {
    background-color: pink;
  }

******************************************/

@mixin sm-screen-heading {
  display: inline-block;
  color: $default-color-heading;
  font-size: $font-size-medium;
}

@mixin link-style {
  transition: all 0.5s ease-in-out;
  &:link,
  &:visited {
    text-decoration: underline wavy $default-color;
    color: $default-color;
  }
  &:hover {
    color: $default-color-heading;
    text-decoration: underline solid darken($default-color-heading, 10%);
  }
}

@mixin form-lable-email-style {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 5fr;

  &--label {
    display: block;
    font-size: $font-size-medium;
    justify-self: start;
    align-self: center;
  }

  &--input {
    margin-left: 0.5rem;
    height: 4rem;
    border: 1px solid $default-color;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;

    &:focus {
      box-shadow: 3px 3px 6px lighten($default-color, 5%);
    }
    &:focus:invalid {
      border: 1px solid red;
    }
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 400px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 560px) {
      @content;
    }
  }
  @if $breakpoint == sm-desktop {
    @media only screen and (min-width: 720px) {
      @content;
    }
  }
  @if $breakpoint == normal-desktop {
    @media only screen and (min-width: 940px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1180px) {
      @content;
    }
  }
  @if $breakpoint == xl-desktop {
    @media only screen and (min-width: 1340px) {
      @content;
    }
  }
}

// Hover effect over menu
@mixin hover-effect-link-visited {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-white 50%
  );
  background-size: 250%;
  transition: all 0.4s ease-in-out;
}

// Animations
@mixin dropdown-menu-effect {
  width: 28vw;
  height: 100%;
  display: grid;
  align-content: center;
  padding-left: 1rem;
  background-color: darken($default-color, 10%);
  // background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: $color-white;
  animation: zoomInLeft 0.4s cubic-bezier(0, -1, 0.88, 0.16);
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
