// Colors
$default-color: #226767;
$default-color-heading: #d24747;
$color-white: #f0fff0;

// Font
$default-font-size: 1.6rem;
$font-heading: "Averia Gruesa Libre", cursive;
$font-text: "Alegreya Sans SC", sans-serif;

//
