// Colors
$default-color: #76a3a3;
$default-color-heading: #d24747;
$color-white: #fff;

// Font
$font-size-xl: 4.5rem;
$font-size-big: 3.5rem;
$font-size-medium: 2.3rem;
$font-size-sm: 1.6rem;
$font-heading: "Averia Gruesa Libre", cursive;
$font-text: "Alegreya Sans SC", sans-serif;

//
