// Colors
$default-color: #76a3a3;
$default-color-heading: #d24747;
$color-white: #fff;
$color-grey: #888888;
$color-dark: #4b3c4c;

// Font
$font-size-xl: 4.4rem;
$font-size-big: 3.3rem;
$font-size-medium: 2.1rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.2rem;
$font-heading: "Averia Gruesa Libre", cursive;
$font-text: "Alegreya Sans SC", sans-serif;

// Breakpoints
$bp-large: 1080px;
$bp-m2: 900px;
$bp-sm: 600px;
$bp-xs: 450px;
